.title {
  text-align: center;
  margin: 30px 30px; 
  font-weight: bold;   
  font-size: 2rem;     
}

.employee-card {
  transition: 0.3s ease;
}

.employee-card:hover {
  transform: translateY(-5px);
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.employee-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;   
  object-fit: cover;    
  border: 4px solid #f8f9fa;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.4s ease;
}

.employee-card:hover .employee-img {
  transform: scale(1.05);
}

