.title {
  text-align: center;
  margin: 30px 30px; 
  font-weight: bold;   
  font-size: 2rem;     
}

.employee-card {
  transition: 0.3s ease;
}

.employee-card:hover {
  transform: translateY(-5px);
}

.image-wrapper {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.employee-img {
  height: 220px;
  object-fit: cover;
  transition: 0.4s ease;
}

.employee-card:hover .employee-img {
  transform: scale(1.05);
}
